
body{
  overflow-x: hidden;
}


/* responsive nav bar */
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');
*{
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}

nav{
  background-color:black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  padding: 0 100px;
  z-index: 1;
  opacity: 0.5;
  

}
.solid {
  background-color: black;
  transition: background-color 1s ease 0s;
  box-shadow: 0 0 4px grey;
  opacity: 1;
}
nav .mylogo{
  
  font-size: 40px;
  font-family: Tahoma, Geneva, sans-serif;
  letter-spacing: -1px;
  color: #FFFFFF;

}
nav .nav-items{
  display: flex;
  flex: 1;
  padding: 0 0 0 40px;
}
nav .nav-items li{
  list-style: none;
  padding: 0 15px;
}
nav .nav-items li a{
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-decoration: none;
}
nav .nav-items li a:hover{
  color: #ff3d00;
}
nav form{
  display: flex;
  height: 40px;
  padding: 2px;
  background: #1e232b;
  min-width: 18%!important;
  border-radius: 2px;
  border: 1px solid rgba(155,155,155,0.2);
}
nav form .search-data{
  width: 100%;
  height: 100%;
  padding: 0 10px;
  color: #fff;
  font-size: 17px;
  border: none;
  font-weight: 500;
  background: none;
}
nav form button{
  float: right;
  padding: 6px 10px;
  margin-top: 8px;
  margin-right: 16px;
  right: 5px;
  font-size: 17px;
  border: none;
  cursor: pointer;
}
nav form button:hover{
  background: #e63600;
}
nav .menu-icon,
nav .cancel-icon,
nav .search-icon{
  width: 40px;
  text-align: center;
  margin: 0 50px;
  font-size: 18px;
  color: #fff;
  cursor: pointer;
  display: none;
}
nav .menu-icon span,
nav .cancel-icon,
nav .search-icon{
  display: none;
}
@media (max-width: 1245px) {
  nav{
    padding: 0 50px;
   
  }
}
@media (max-width: 1140px){
  nav{
    padding: 0px;
    
   
    
  }
 
  nav .nav-items{
    position: fixed;
    z-index: 99;
    top: 70px;
    width: 100%;
    left: -100%;
    height: 100%;
    padding: 10px 50px 0 50px;
    text-align: center;
    background: #14181f;
    display: inline-block;
    transition: left 0.3s ease;
  }
  nav .nav-items.active{
    left: 0px;
  }
  nav .nav-items li{
    line-height: 40px;
    margin: 30px 0;
  }
  nav .nav-items li a{
    font-size: 20px;
  }
  nav form{
    position: absolute;
    top: 80px;
    right: 50px;
    opacity: 0;
    pointer-events: none;
    transition: top 0.3s ease, opacity 0.1s ease;
  }
  nav form.active{
    top: 95px;
    opacity: 1;
    pointer-events: auto;
  }
  nav form:before{
    position: absolute;
    content: "";
    top: -13px;
    right: 0px;
    width: 0;
    height: 0;
    z-index: -1;
    border: 10px solid transparent;
    border-bottom-color: #1e232b;
    margin: -20px 0 0;
  }
  nav form:after{
    position: absolute;
    content: '';
    height: 60px;
    padding: 2px;
    background: #1e232b;
    border-radius: 2px;
    min-width: calc(100% + 20px);
    z-index: -2;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  nav .menu-icon{
    display: block;
  }
  nav .search-icon,
  nav .menu-icon span{
    display: block;
  }
  nav .menu-icon span.hide,
  nav .search-icon.hide{
    display: none;
  }
  nav .cancel-icon.show{
    display: block;
  }
}


.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
.space{
  margin: 10px 0;
}
nav .logo.space{
  color: red;
  padding: 0 5px 0 0;
}
@media (max-width: 980px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 20px;
  }
  nav form{
    right: 30px;
  }
}
@media (max-width: 350px){
  nav .menu-icon,
  nav .cancel-icon,
  nav .search-icon{
    margin: 0 10px;
    font-size: 16px;
  }
}
/* Variables */
/* Style the input container */
.search {
  position: relative;
  padding-bottom: 15px;
  bottom: -7px;
  }
  
  .search-input::placeholder {
  color: white;
  opacity: 0.8;
  }
  
  .search-input {
  height: 0px;
  border:none;
  
  
  visibility: hidden;
  opacity: 0;
  top: 40px;
  background: #5747e1;
  color: white;
  padding: 6px;
  font-size: 14px;
  
  width: 220px;
  transition: 80ms all ease-in;
  
  box-shadow: none;
  }
  
  .search-button {
  background:transparent;
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-top: 4px;
  }
  
  .search-button:hover + .search-input, .search-input:hover, .search:hover .search-input {
  visibility: visible !important;
  opacity: 1 !important;
  z-index: 9 !important;
  box-shadow: 1px 3px 4px #E6E6E6;
  height: 25px !important;
  }


/* Slideshow container */
* {box-sizing:border-box}


.slideshow-container {
max-width: auto;

margin: auto;
height: auto;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: auto;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
color: #f2f2f2;
font-size: 15px;
padding: 8px 12px;
position: absolute;
bottom: 8px;
width: 100%;
text-align: center;
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
-webkit-animation-name: fade;
-webkit-animation-duration: 1.5s;
animation-name: fade;
animation-duration: 1.5s;
}

@-webkit-keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

:root {
--background-light: #98c1d9;
--background-dark: #293241;
--text-light: #98c1d9;
--text-dark: #293241;
--accent-light: #ee6c4d;
--accent-dark: #db5332;
--card-background: #ffe66d;
}

/* Global */
* {
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
line-height: 1.6;
font-family: "Rubik", sans-serif;
}

p {
font-family: "Montserrat", sans-serif;
}

span {
color: var(--accent-dark);
}

button {
padding: 1rem;
margin-top: 1rem;
color: var(--accent-dark);
font-size: 1.2rem;
font-weight: 500;
background: transparent;
border: 0px solid var(--accent-light);
transition: 0.2s ease-out;
}

button:hover {

color: var(--text-dark);
cursor: pointer;
}

/* <!-- Product slider --> */
.intro__heading {
font-size: 3.5rem;
display: inline-block;
color: var(--text-dark);
letter-spacing: 0.2rem;
}

.intro__text {
color: var(--text-dark);
width: 40rem;
background: rgba(255, 255, 255, 0.4);
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
border-radius: 8px;
border: solid 1px rgba(255, 255, 255, 0.3);

padding: 1rem;
margin: 2rem;
}

.intro__sub-heading {
text-transform: capitalize;
font-size: 2rem;
}


/* <!-- Articles Section --> */
.heading {
  font-size: 2.8rem;
  text-align: center;
  text-transform: capitalize;
  padding: 1rem;
  }
  
  .sub-heading {
  font-size: 1.8rem;
  text-align: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
  }
.skills {
padding: 2rem 2rem;
color: white;
background: black;
position: relative;
}


.skills__sub-header {
text-align: center;
font-size: 2rem;
}

.skills__header {
font-size: 3rem;
text-align: center;
text-transform: capitalize;
color: white;
}

.cards {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}

.card {
max-width: 25%;
margin: 1rem 2rem;
padding: 1rem;
position: relative;
/* background: rgba(255, 255, 255, 0.5); */
-webkit-backdrop-filter: blur(5px);
backdrop-filter: blur(5px);
border-radius: 8px;
border: solid 1px rgba(255, 255, 255, 0.3);


}

.card__content {
display: flex;
flex-direction: column;
}

.card__icon {
padding-bottom: 0.5rem;
color: var(--accent-dark);
}

.card__title {
padding-bottom: 0.5rem;
font-size: 1.5rem;
}

/* Image Scroll Section */
.img-scroll {
background-image: url("https://images.unsplash.com/photo-1472851294608-062f824d29cc?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80");
min-height: 350px;
background-size: cover;
background-position: center;
position: relative;
opacity: 0.8;
background-repeat: no-repeat;
background-attachment: fixed;
}

.img__heading {
position: absolute;
text-align: center;
top: 40%;
width: 100%;
text-transform: uppercase;
color: var(--text-dark);
font-size: 2rem;
font-weight: 500;
letter-spacing: 1rem;
}

/* Image switch */
.container{
  display: flex;
  width: 90vw;

}
.panel{
  background-size: auto 100%;
  background-position:center;
  background-repeat: no-repeat;
  height: 80vh;
  border-radius: 50px;
  color: #fff;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  }
  .panel h3{
     font-size: 24px;
     position: absolute; 
     bottom: 20px;
     left: 50px;
     margin: 0;
     opacity: 0;

  }
  .panel.active{
      flex: 5;
  }
 
  .panel.active h3
  {
     opacity: 1;
     transition: opacity 0.3s ease-in 0.4s;

  }
  @media(max-width:480px){
      .container{
          width: 100vw;
      }
      .panel:nth-of-type(4),.panel:nth-of-type(5){
      display: none;
  }
  }


/* Partner Companies */

.company__info img {
width: 100%;
height: auto;
}

.company__info {
width: 75%;
margin: auto;
}

.company__header {
font-size: 3rem;
}

.box__header {
text-align: center;
font-size: 1.5rem;
}

.box-1 {
display: flex;
height: auto;
align-items: center;
clip-path: polygon(100% 0, 100% 100%, 0 80%, 0 16%);
background: black;
color: white;
}

.box-3 {
display: flex;
height: auto;
align-items: center;
clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 16%);
background: black;
color: white;
}

.box__text {
padding: 1rem 1rem;
max-width: 50%;
}

.box-2 {
display: flex;
flex-direction: row-reverse;
height: auto;
align-items: center;
clip-path: polygon(100% 20%, 100% 80%, 0 100%, 0 0);
background: black;
color: white;
}

/* COmapanies Icon Section */
.icons {
background: black;
color: white;
}

.icons__heading {
font-size: 2.5rem;
text-align: center;
color: white;
text-transform: capitalize;
}

.row {
display: flex;
align-items: center; 
justify-content: center;
}

.row--2 {
padding-left: 15px;
margin-top: -30px;
}

.row--3 {
margin-top: -30px;
}

.logo {
width: 100px;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%)
}

.logo img { 
width: 100%;
z-index: 10;
}

/*Hexagon Styles*/
.hexagon {
position: relative;
height: 180px;
width: 160px;
background: black;
margin: 0 .5rem;
}

.hexagon::before {
position: absolute;
content: '';
}

.hexagon::before {
top: 4px;  /* border width */
left: 4px;  /* border width */
height: calc(100% - 8px);  /* 100% - (2 * border width) */
width: calc(100% - 8px);  /* 100% - (2 * border width) */
background: white;
}

.hexagon, .hexagon::before {
-webkit-clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

/* Stats Section */
.stats {
background-color: black;
color: white;
}

.stats__heading {
color: white;
padding-top: 3rem;
}

.stats__sub-heading {
color: white;
}

.stats__list {
list-style-type: none;
display: flex;
justify-content: center;
flex-wrap: wrap;
}

.stats__item {
text-align: center;
display: inline-block;
width: 23rem;
vertical-align: top;
padding: 15px;
}

.stats__item-heading {
font-size: 1.3rem;
font-weight: 700;
text-transform: capitalize;
}

.stats__item-text {
font-size: 1.2rem;
font-weight: 600;
color: var(--accent-light);
}

/* Pricing Section */
.price {
display: flex;
justify-content: center;
flex-wrap: wrap;
align-items: center;
background-color: lightblue;
}

.price__info {
max-width: 75%;
margin: 1rem;
padding: 1rem;
}

/*Card*/
.price__card-box {
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
width: 1600px;
}

.price__card {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
min-width: 30%;
background-color: white;
margin: 1rem;
border: 3px solid black;
}

.price__name {
padding: 0.5rem;
width: 100%;
font-size: 1.8rem;
height: 5rem;
text-align: center;
position: relative;
background-color: black;
color: white;
}

.price__name::after {
content: "";
height: 25px;
background-color: inherit;
transform: skewY(3deg);
position: absolute;
bottom: -12px;
left: 0;
right: 0;
}

.price__quote {
padding-top: 1.5rem;
}

.price__quote {
font-size: 1.5rem;
}

.price__list {
padding: 1rem;
list-style-type: none;
position: relative;
}

.price__item {
padding: 0.5rem;
}

.price__item:before {
font-family: FontAwesome;
position: absolute;
left: 0;
color: var(--accent-light);
font-size: 14px;
content: "\f00c";
}

.price__item--plus:before {
content: "\f067";
}

.price__button {
padding: 1rem;
margin-top: 1rem;
width: 75%;
font-size: 1.2rem;
font-weight: 500;
background: transparent;
color: white;
transition: 0.2s ease-out;
border: 1px solid white;
}

.price__button:hover {
background: white;
color: black;
cursor: pointer; 
}

.price__footer {
width: 100%;
height: 6.5rem;
display: flex;
justify-content: center;
align-items: center;
margin-top: 2rem;
background-color: black;
color: white;
position: relative;
}

.price__footer::before {
content: "";
height: 25px;
background-color: inherit;
transform: skewY(3deg);
position: absolute;
bottom: 85px;
left: 0;
right: 0;
}



/* Products slider Section */
.contact {
height: auto;
background: black;
color: white;
text-align: center;
font-size: 1.3rem;
}


.slider2 {
  width: auto;
  height: 200px;
  position: relative;
  margin: auto;
  overflow-x: scroll;
  overflow-y: hidden;
}

.slider2::-webkit-scrollbar {
  display: none;
}

.slider2 .slide {
  display: flex;
  position: absolute;
  left: 0;
  transition: 0.3s left ease-in-out;
}

.slider2 .item {
  margin-right: 10px;
}

.slider2 .item:last-child {
  margin-right: 0;
}

.ctrl {
  text-align: center;
  margin-top: 5px;
}

.ctrl-btn {
  padding: 20px 20px;
  min-width: 50px;
  background: #fff;
  border: none;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  outline: none;

  position: absolute;
  top: 50%;
  margin-top: -27.5px;
}

.ctrl-btn.pro-prev {
  left: 0;
}

.ctrl-btn.pro-next {
  right: 0;
}

/* Footer Section */
footer {
position: relative;
color: var(--text-light);
background: var(--background-dark);
}

footer svg {
position: absolute;
bottom: 10rem;
width: 100%;
border-bottom: #293241;
height: 100px;
}

.footer__address-heading,
.footer__contact-heading {
text-align: center;
font-weight: 600;
color: var(--accent-light);
}

.footer__top {
display: flex;
justify-content: space-around;
}

.footer__bottom {
text-align: center;
padding: 1rem 0;
}

/*Media Queries*/
@media screen and (min-width: 320px) and (max-width: 768px) {
.card {
min-width: 100%;
}

.img__heading {
top: 25%;
width: 100%;
text-transform: uppercase;
font-size: 1.7rem;
letter-spacing: 0.5rem;
}

.intro__text {
width: 100%;
margin: 1rem 0 0 0;
border-radius: 0px;
}

.intro__heading {
font-size: 2.5rem;
text-align: center;
padding-bottom: 1rem;
}

.intro__text-heading {
font-size: 1.5rem;
text-align: center;
padding-bottom: 1rem;
}

.box-1,
.box-3 {
display: flex;
flex-direction: column;
align-items: center;
clip-path: polygon(100% 0, 100% 100%, 0 95%, 0 5%);
padding-bottom: 1.5rem;
}

.box-2 {
display: flex;
flex-direction: column;
align-items: center;
clip-path: polygon(100% 5%, 100% 95%, 0 100%, 0 0%);
padding-bottom: 1.5rem;
}

.box__text {
min-width: 100%;
}
/* //contacts section -footer */
.contact {
height: 630px;
font-size: 1.3rem;
}
@media screen and (min-width: 320px) and (max-width: 768px){
  .contact {
    height: auto;
    font-size: 1.3rem;
}
}


.contact__info {
padding: 1rem;
}

.contact__info-heading {
font-size: 2rem;
}
.footer__top {
flex-direction: column;
text-align: center;
}
.footer__bottom {
padding: 0.8rem;
}
footer svg {
top: -4rem;
height: 65px;
}
}
footer{
  background-color: black;
  padding: 1% 8%;
  text-align: center;
  line-height: 1.5em;
}
.social-icon{
  margin: 20px 10px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
.card {
max-width: 66.66%;
}
}
